body{
    margin: 0 auto;
    background-color: azure;
    text-align: center;
}

input {
    font-size: large;
    margin: 1em;
    padding: 1em; 
}

.boton {
    margin: 1em;
    padding: 1em;
    font-size: large;
        border-radius: 4px;
        background-color: #00aced;
}

.output{
    border: 1em;
    border-color: black; 
    padding: 1em 0;
	width: 25%;
    margin: 0 auto;
}

h1{
    align-content: center;
}

.container{
    text-align: left;
    font-size: large;
    background-color: beige;
    width: 50%;
    margin: 0 auto;
}

.mesSender{
    background-color: darkgray;
   
    margin: 0 auto;
    padding: 1em;
    font-size: large;
    display: table; width:50%;
}

.mesSender > textarea{
    margin: 1em;
    padding: 1em;
    font-size: large;
    display: table-cell; vertical-align: middle; 
}

.mesSender > button{
    margin: 1em;
    padding: 1em;
    font-size: large;
        border-radius: 4px;
        background-color: #00aced;
        display: table-cell; vertical-align: middle; 
}